@import "./variables.css";

decoration {
    border: 0px solid red;
}

window.ssd headerbar {
    min-height: 32px;
    padding: 0px;
}

window.ssd headerbar button {
    margin: 0px;
    padding: 0px;
}

/*
 * TITLE BUTTON
*/
window.ssd headerbar button.titlebutton {
    min-width: 48px;
    min-height: 32px;

    margin-left: -3px;
    margin-right: -3px;
    padding: 0px;
}
window.ssd headerbar button.titlebutton:hover {
    background-color: rgba(127, 127, 127, 0.25);
}

/*
 * MAXIMIZE BUTTON
*/
window.ssd headerbar button.titlebutton.maximize {
    background-image: none;
}

/*
 * MINIMIZE BUTTON
*/
window.ssd headerbar button.titlebutton.minimize {
    background-image: none;
}

/*
 * CLOSE BUTTON
*/
window.ssd headerbar button.titlebutton.close {
    min-width: 64px;
    
    margin: 0px;
}
